.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    
}

.dialog {
    padding-left: 20px;
    
}

.item {
    margin-bottom: 10px;
    
}

.message {
    margin-bottom: 10px;
    color: white;
}